body {
    background-image: url("../images/background.jpg");
    z-index: 0;
}

#header {
    color: #d3d3d3;
}

.header {
    color: #d3d3d3;
    font-size: 20px;
}

.header-sith {
    color: #d3d3d3;
    font-size: 20px;
    margin-left: 150px;
}

div {
    background-color: black;
}

.stats-text {
    text-align: center;
    color: white;
}

.vs-text {
    text-align: center;
    color: black;
    margin-bottom: 0px;
}

.top-text {
    margin-bottom: 0px;
}

.attack {
    visibility: hidden;
    position: relative;
    left: 155px;
    top: 22px;
}

.hero-span {
    text-align: center;
    color: white;   
}

.pick-hero {
    margin-top: 30px;
}

.pick-sith {
    margin-top: 30px;
}

.vs {
    margin-top: 30px;
}


.hero-span .pick-hero {
  position: relative;
  top: -30px;
  left: 0px;
}

.hero-span .pick-hero p {
    position: relative;
    top: 0px;
    left: -95px;
  }

.pick-hero input {
    visibility: hidden;
}

.pick-sith input {
    visibility: hidden;
}


.sith-span {
    text-align: center;
    color: white;   
}

.sith-span .pick-sith {
    position: relative;
    top: -25px;
    left: 190px;  
}

.sith-span .pick-sith p {
    position: relative;
    top: 0px;
    left: -95px;
  }

.sith-attack {
    opacity: 0;
}

.defender {
    margin-left: 150px;
}

.hero-text {
    font-size: 26px;
    color: white;
}

.sith-text {
    font-size: 26px;
    color: white;
}